//
//  local_vars.xcconfig
//  Visible
//
//  Created by Arman Garakani on 7/6/19.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


SRCROOT = $(PROJECT_DIR)/../../Visible
ALL_ROOT = $(PROJECT_DIR)/../..
SVL_ROOT = $(PROJECT_DIR)/../../svl
EXTERNALS = $(PROJECT_DIR)/../../externals
VISIBLE_ROOT = $(PROJECT_DIR)/../../Visible


TEST_DATA = $(SVL_ROOT)/Assets
LOCAL_CINDER = $(EXTERNALS)/cinder
LOCAL_OCV = /usr/local/opencv-3.4.3
LOCAL_GSL = /usr/local/
LOCAL_CIMG = $(EXTERNALS)/CImg
LOCAL_SPDLOG = $(EXTERNALS)/spdlog
LOCAL_FMT = $(EXTERNALS)/fmt
LOCAL_IMGUI = $(EXTERNALS)/imgui_module
LOCAL_CIIMGUI = $(EXTERNALS)/Cinder-ImGui

LOCAL_3rdParty = $(SVL_ROOT)/local
LOCAL_BOOST = /usr/local/
LOCAL_PNG = $(LOCAL_3rdParty)/png/
LOCAL_gtest = $(LOCAL_3rdParty)/gtest
LOCAL_EIGEN = $(LOCAL_3rdParty)/Eigen
LOCAL_CEREAL = $(LOCAL_3rdParty)/cereal-1.1.1/include
LOCAL_TINYXML = $(LOCAL_3rdParty)/tinyxml

