//
//  local_vars.xcconfig
//  Visible
//
//  Created by Arman Garakani on 7/6/19.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


SRCROOT = $(PROJECT_DIR)/../../Visible
ALL_ROOT = $(PROJECT_DIR)/../..
SVL_ROOT = $(PROJECT_DIR)/../../svl
EXTERNALS = $(PROJECT_DIR)/../../externals
VISIBLE_ROOT = $(PROJECT_DIR)/../../Visible

HOMEBREW_PREFIX = /opt/homebrew
HOMEBREW_CELLAR = /opt/homebrew/Cellar
LOCAL = $(HOMEBREW_PREFIX)/opt

TEST_DATA = $(SVL_ROOT)/Assets
TEST_VISIBLE_DATA = $(VISIBLE_ROOT)/test/assets

LOCAL_CINDER =$(EXTERNALS)/cinder
LOCAL_OCV = $(LOCAL)/opencv
LOCAL_GSL = $(LOCAL)/gsl
LOCAL_SPDLOG = $(LOCAL)/spdlog
LOCAL_FMT = $(LOCAL)/fmt
LOCAL_CIIMGUI = $(LOCAL_CINDER)

LOCAL_OIIO =  $(LOCAL)/openimageio
LOCAL_FFMPEG = $(LOCAL)/ffmpeg

LOCAL_3rdParty = $(SVL_ROOT)/local
LOCAL_BOOST = $(LOCAL)/boost
LOCAL_PNG = $(LOCAL_3rdParty)/png/
LOCAL_EIGEN = $(LOCAL_3rdParty)/Eigen
LOCAL_CEREAL = $(LOCAL_3rdParty)/cereal-1.1.1/include
LOCAL_TINYXML = $(LOCAL_3rdParty)/tinyxml
//LOCAL_GHC = $(EXTERNALS)/filesystem/include

