//
//  main_linker.xcconfig
//  Visible
//
//  Created by Arman Garakani on 7/6/19.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

LIBRARY_SEARCH_PATHS = $(HOMEBREW_PREFIX)/lib $(LOCAL_CINDER)/lib/macosx/Debug $(LOCAL)/openimageio/lib $(LOCAL)/opencv/lib $(LOCAL)/boost/lib $(LOCAL)/gsl/lib

OTHER_LDFLAGS = $(LOCAL_CINDER)/lib/macosx/Debug/libcinder.a $(LOCAL)/boost/lib/libboost_filesystem.a $(LOCAL)/gsl/lib/libgsl.a
