//
//  main_linker.xcconfig
//  Visible
//
//  Created by Arman Garakani on 7/6/19.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

LIBRARY_SEARCH_PATHS = $(LOCAL_CINDER)/lib/macosx/$(CONFIGURATION) $(LOCAL_BOOST)/lib $(PROJECT_DIR) $(LOCAL_OCV)/lib/opencv4/3rdparty $(LOCAL_OCV)/lib /usr/local/Cellar/libconfig/1.7.2/lib  /usr/local/opt/libffi/lib $(LOCAL_OIIO)/lib /usr/local/lib

OTHER_LDFLAGS = $(LOCAL_CINDER)/lib/macosx/$(CONFIGURATION)/libcinder.a $(LOCAL_BOOST)/lib/libboost_system-mt.a $(LOCAL_BOOST)/lib/libboost_filesystem.a  $(LOCAL_BOOST)/lib/libboost_date_time-mt.a $(LOCAL_BOOST)/lib/libboost_regex-mt.a  $(LOCAL_OCV)/lib/libopencv_core.a  $(LOCAL_OCV)/lib/libopencv_imgproc.a $(LOCAL_OCV)/lib/libopencv_highgui.a $(LOCAL_OCV)/lib/libopencv_features2d.a  $(LOCAL_OCV)/lib/libopencv_objdetect.a  $(LOCAL_OCV)/lib/libippiw.a $(LOCAL_OCV)/lib/libittnotify.a $(LOCAL_OCV)/lib/libippicv.a /usr/local/Cellar/openjpeg/2.3.1/lib/libopenjp2.a $(LOCAL_GSL)/lib/libgsl.a  $(LOCAL_GSL)/lib/libgslcblas.a /usr/local/opt/zlib/lib/libz.a /usr/local/lib/libjpeg.a $(LOCAL_OIIO)/lib/libOpenImageIO.dylib $(LOCAL_OIIO)/lib/libOpenImageIO_Util.dylib $(OTHER_LDFLAGS) /usr/local/lib/libtbb.a /usr/local/lib/libpng.a /usr/local/lib/libtiff.a
