//
//  cp-cv.xcconfig
//  cvCapture
//
//  Created by Arman Garakani on 11/5/15.
//
//

SRCROOT = $(PROJECT_DIR)/../../../svl

//:configuration = Debug
LOCAL_3rdParty = $(SRCROOT)/local
LOCAL_BOOST = $(LOCAL_3rdParty)/boost/
LOCAL_CINDER = $(LOCAL_3rdParty)/cinder/cinder_0.9
LOCAL_PNG = $(LOCAL_3rdParty)/png/
LOCAL_gtest = $(LOCAL_3rdParty)/gtest
LOCAL_OCV = $(LOCAL_CINDER)/blocks/OpenCV3

//:configuration = Release
LOCAL_3rdParty = $(SRCROOT)/local
LOCAL_BOOST = $(LOCAL_3rdParty)/boost/
LOCAL_CINDER = $(LOCAL_3rdParty)/cinder/cinder_0.9
LOCAL_PNG = $(LOCAL_3rdParty)/png/
LOCAL_gtest = $(LOCAL_3rdParty)/gtest
LOCAL_OCV = $(LOCAL_CINDER)/blocks/OpenCV3
