[submodule "externals/spdlog"]
	path = externals/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "externals/cinder"]
	path = externals/cinder
	url = git@github.com:cinder/Cinder.git
[submodule "externals/ImGuizmo"]
	path = externals/ImGuizmo
	url = git@github.com:DarisaLLC/ImGuizmo.git
[submodule "externals/implot"]
	path = externals/implot
	url = git@github.com:epezent/implot.git
[submodule "externals/lspdlog"]
	path = externals/lspdlog
	url = https://github.com/artivis/lspdlog.git
