[submodule "externals/spdlog"]
	path = externals/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "externals/cinder"]
	path = externals/cinder
	url = git://github.com/cinder/Cinder.git
[submodule "externals/CImg"]
	path = externals/CImg
	url = git://github.com/dtschump/CImg
[submodule "externals/Cinder-ImGui"]
	path = externals/Cinder-ImGui
	url = https://github.com/simongeilfus/Cinder-ImGui.git
[submodule "externals/imgui_module"]
	path = externals/imgui_module
	url = https://github.com/ocornut/imgui.git
[submodule "externals/ImGuizmo"]
	path = externals/ImGuizmo
	url = git@github.com:DarisaLLC/ImGuizmo.git
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "externals/albatross"]
	path = externals/albatross
	url = https://github.com/swift-nav/albatross.git
