//
//  visible_gtest.xcconfig
//  VisibleGtest
//
//  Created by Arman Garakani on 10/8/20.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "include/local_vars.xcconfig"
#include "include/macos.xcconfig"
#include "include/main_linker.xcconfig"
#include "include/main_header_paths.xcconfig"

LOCAL_GTEST = $(HOMEBREW_CELLAR)/googletest/1.12.1/
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS) $(LOCAL_GTEST)/include

LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS) $(LOCAL_GTEST)/lib/

//OTHER_LDFLAGS = $(OTHER_LDFLAGS) $(LOCAL_GTEST)/lib/$(CONFIGURATION)/libgtest.a $(LOCAL_GTEST)/lib/$(CONFIGURATION)/libgtest_main.a 
