//
//  main_header_paths.xcconfig
//  Visible
//
//  Created by Arman Garakani on 7/6/19.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


HEADER_SEARCH_PATHS = $(VISIBLE_ROOT)/include $(VISIBLE_ROOT)/include/plistcpp $(LOCAL_OCV)/include/opencv4 $(SVL_ROOT)/include $(LOCAL_CINDER)/include $(LOCAL_BOOST)/include  $(LOCAL_TINYXML) $(LOCAL_EIGEN) $(LOCAL_CEREAL) $(LOCAL_TINYXML) $(LOCAL_CIMG)  $(LOCAL_CIMG)/plugins $(LOCAL_SPDLOG)/include  $(LOCAL_CIIMGUI)/include $(LOCAL_FMT)/include $(LOCAL_CIIMGUI)/lib/imgui  $(LOCAL_GSL)/include /usr/local/opt/libffi/include $(LOCAL_OIIO)/include  $(VISIBLE_ROOT)/include/nr
