//
//  cp-cv.xcconfig
//  cvCapture
//
//  Created by Arman Garakani on 11/5/15.
//
//
#include "include/macos.xcconfig"
#include "include/appstore.xcconfig"


SRCROOT = $(PROJECT_DIR)/../../../svl
EXTERNALS = $(PROJECT_DIR)/../../../svl/../externals

TEST_DATA = $(SRCROOT)/Assets/test_data


LOCAL_CINDER = $(EXTERNALS)/cinder

LOCAL_OCV = /usr/local/opencv-3.4.3
LOCAL_CIMG = $(EXTERNALS)/CImg
LOCAL_SPDLOG = $(EXTERNALS)/spdlog


LOCAL_3rdParty = $(SRCROOT)/local
LOCAL_BOOST = $(LOCAL_3rdParty)/boost/
LOCAL_PNG = $(LOCAL_3rdParty)/png/
LOCAL_gtest = $(LOCAL_3rdParty)/gtest
LOCAL_EIGEN = $(LOCAL_3rdParty)/Eigen
LOCAL_CEREAL = $(LOCAL_3rdParty)/cereal-1.1.1/include
LOCAL_TINYXML = $(LOCAL_3rdParty)/tinyxml


HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/include/** /usr/local/include $(LOCAL_CINDER)/include $(LOCAL_BOOST)/include $(SRCROOT)/include $(LOCAL_gtest)/include $(LOCAL_OCV)/include $(LOCAL_TINYXML) $(LOCAL_EIGEN) $(LOCAL_CEREAL) $(LOCAL_TINYXML) $(LOCAL_CIMG)  $(LOCAL_SPDLOG)/include 

LIBRARY_SEARCH_PATHS = $(inherited)  $(LOCAL_CINDER)/lib/macosx/$(CONFIGURATION) $(LOCAL_OCV)/build/lib/Release /usr/local/lib /usr/local/Cellar/tbb/2018_U5/lib/ $(LOCAL_3rdParty)/boost/lib




