//
//  svl.xcconfig
//  patterns
//
//  Created by Arman Garakani on 10/13/15.
//  Copyright © 2015 Arman Garakani. All rights reserved.
//

#include "svl.xcconfig"


HEADER_SEARCH_PATHS = /usr/local/include $(LOCAL_CINDER)/include $(LOCAL_BOOST)/include $(SRCROOT)/include $(LOCAL_gtest)/include $(LOCAL_OCV)/include $(LOCAL_PUGIXML)/include $(LOCAL_EIGEN) $(LOCAL_CEREAL) $(LOCAL_TINYXML)


