//
//  svl.xcconfig
//  patterns
//
//  Created by Arman Garakani on 10/13/15.
//  Copyright © 2015 Arman Garakani. All rights reserved.
//

#include "svl.xcconfig"


HEADER_SEARCH_PATHS =  $(inherited) $(LOCAL_CINDER)/include $(LOCAL_BOOST)/include $(SRCROOT)/include $(LOCAL_gtest)/include $(LOCAL_OCV)/include $(LOCAL_PUGIXML)/include $(LOCAL_EIGEN) $(LOCAL_CEREAL) $(LOCAL_TINYXML) $(LOCAL_CIMG) $(SVL_X11_ROOT)/include


LIBRARY_SEARCH_PATHS = $(inherited) $(LOCAL_CINDER)/lib $(LOCAL_BOOST)/lib $(LOCAL_gtest)/lib/Release $(LOCAL_OCV)/lib/osx  $(SVL_X11_ROOT)/lib
